*{
  box-sizing: border-box;
}

#site-name{
  text-align: right;
  font-family: 'Playfair Display',serif;
  color:#FACB2F;
  font-size: 2.5em;
  font-weight:bold;
  float:right;
  padding-top: 15px;
  clear: both;
  text-shadow:1px 1px #555;
}

#site-slogan{
  text-align: right;
  font-family: 'Playfair Display',serif;
  font-size: 1.5em;
  color:white;
  font-weight:bold;
  float:right;
  clear: both;
}



#header
{
    height: 150px;
    width: 100%;
    background-color: #191919;
    background:url('../files/nivelOlimpico-sm.png') ;*/
    background-position: center;
    margin:0px;
    padding:0px;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size:120%;
  margin-left:auto;
  margin-right:auto;
  background-color:#e0e0e0;
}

h2 {
  /*border: 3px solid coral;*/
  font-family: 'Playfair Display',serif;
  color: black;
  font-size:1.5em ;
  text-align: center;
  margin:30px;
}

  /* SIMULACAO*/
.simScenario{
  position:absolute;
  padding:0px;
  opacity: 1;
  z-index: -1;
}

#scenario{
  z-index: -1;
}

#scenario-grid{
  z-index: 0;
}


#simCannon{
  position:absolute;
  left: 50px;
  top: 230px ;
  z-index: 1;
}

  #simulation{
    position: relative;
  }

#thecanvas{
     position:absolute;
     z-index: 3;
  }
  /*#gridCanvas{
       position:absolute;
       z-index: 0;
  }*/
  #trailCanvas{
         position:absolute;
         z-index: 4;
  }




.simParamSlider{
  border: 0px;
  margin: 0px;
  font-size:0.9em ;
  text-align: center;

}

.simInput{
  margin-top: 5px;
  font-size: 0.7em;
}

img{
  border-radius: 4px;
}

#viscInput{
  height: 24px;
  width: 60px;
}

#trailColors{
  height: 24px;
}

input[type="range"] {
width: 80%;
padding: 0px;
}
input[type="range"]::-ms-tooltip {
display: none;

}


.customButton { /* style a link as a push-button */
display: inline-block;
width: 90px;
height: 40px;
line-height: 24px;
font-size: 1.2em;


text-align: center;
color: black;
background: -webkit-linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
text-decoration: none;
border: 1px solid gray;
border-radius: 5px;
-webkit-user-select: none;
-moz-user-select: -moz-none;
-ms-user-select: none;
user-select: none;
curs or: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.customButton:active {
background: -webkit-linear-gradient(#909090,#808080,#808080,#707070);
background: linear-gradient(#909090,#808080,#808080,#707070);
}


#FireButtom{
  width: 90px;
  height: 40px;
  margin-top: :30px;
  font-size: 1.2em;

}
 #FireButtom:hover{
  background: linear-gradient(green,darkgreen);
  color: white
}
#FireButtom:active{
 background: linear-gradient(red,darkred);
 color: white
}



/*collapse buttomS;*/
.colapseButton { /* style a link as a push-button */
  display: inline-block;
  background-color: #FACB2F;
   color:#191919;
   border: 0px;
  line-height: 24px;
  font-size: 1em;
  margin-top: 30px;

}
.colapseButton:hover { /* style a link as a push-button */
  display: inline-block;
  background-color: #FACB2F;
   color:#191919;
   border: 0px;
  line-height: 24px;
  font-size: 1em;
  box-shadow: 0 0 2px #191919;
}

.colapseButton:active { /* style a link as a push-button */
  display: inline-block;
  background-color: #FACB2F;
   color:#191919;
   box-shadow: 0 0 0px #191919;
}


/*INFORMATION;*/
.texto{
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0px;
}

.texto:nth-child(1){
  margin-top: 0px;
}

#fno1,#fno2, #estudoeficaz {
  height: 200 px;
}

/*FOOTER;*/

.panel-footer{
  margin-top: 00px;
  background-color: #191919;
  font-size: 0.8em;
}

.panel-footer div{
  margin-top: 10px;
  color: white;
}

.footer-buttom{
  text-decoration: none;
  color: white;
  text-align: center;
}

.caption{
  font-size: 0.7em;
}

p {
  padding: 20px;
}

.no-padding {
    padding: 0 !important;
}

/* MEDIA QUERY */
@media only screen and (max-width: 790px) and (min-width: 441px) {
  #site-name{
    font-size: 2em;
  }

  #site-slogan{
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 440px) {
  #site-name{
    font-size: 1.6em;
  }

  #site-slogan{
    font-size: 1.2em;
    margin-top: 5px;
  }

  #fno1,#fno2, #estudoeficaz {
    padding: 5 px;
  }


}

@media (min-width: 760px){
  .visible-xs{
    display: none;
  }

@media (min-width: 1000px){
    #header{
      background-image:url('../files/nivelOlimpico.png');*/
      background-position: center;
    }
}
