#site-name{
  text-align: right;
  font-family: 'Playfair Display',serif;
  color:#FACB2F;
  float:right;
}

#site-slogan{
  text-align: right;
  font-family: 'Playfair Display',serif;
  margin-top: 15px;
  color:white;
  float:right;

}

#header{
  background-color: #191919;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size:120%;
  margin-left:auto;
  margin-right:auto;
  background-color:#e0e0e0;
}

h2 {
  /*border: 3px solid coral;*/
  font-family: 'Playfair Display',serif;
  color: black;
  font-size:1.5em ;
  text-align: center;
  margin:10px;
}

  /* SIMULACAO*/
.simScenario{
  position:absolute;
  padding:0px;
  opacity: 1;
  z-index: -1;
}

#simCannon{
  position:absolute;
  left: 50px;
  top: 230px ;
  z-index: 1;
}

  #simulation{
    position: relative;
  }

#thecanvas{
     position:absolute;
     z-index: 3;
  }
  #gridCanvas{
       position:absolute;
       z-index: 0;
  }
  #trailCanvas{
         position:absolute;
         z-index: 4;
  }




.simParamSlider{
  border: 0px;
  margin: 5px;
  box-sizing: content-box-box;
  font-size:0.9em ;
  text-align: center;

}

.simInput{
  margin-top: 5px;
  font-size: 0.7em;
}



#viscInput{
  width: 60px;
}

input[type="range"] {
width: 80%;
padding: 0px;
}
input[type="range"]::-ms-tooltip {
display: none;

}


.customButton { /* style a link as a push-button */
display: inline-block;
width: 60px;
height: 30px;
line-height: 24px;
font-size: 1em;


text-align: center;
color: black;
background: -webkit-linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
text-decoration: none;
border: 1px solid gray;
border-radius: 5px;
-webkit-user-select: none;
-moz-user-select: -moz-none;
-ms-user-select: none;
user-select: none;
curs or: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.customButton:active {
background: -webkit-linear-gradient(#909090,#808080,#808080,#707070);
background: linear-gradient(#909090,#808080,#808080,#707070);
}



/*FOOTER;*/

.panel-footer{
  margin-top: 20px;
  background-color: #191919;
  font-size: 0.8em;
}

.panel-footer div{
  margin-top: 10px;
  color: white;
}

.footer-buttom{
  text-decoration: none;
  color: white;
}

p {
  padding: 20px;
}


/* MEDIA QUERY */
@media only screen and (max-width: 760px) {
  #site-name{
    font-size: 1.7em;
  }

  #site-slogan{
    font-size: 1.2em;
  }
}

@media (min-width: 760px){
  .visible-xs{
    display: none;
  }
}
