#site-name{
  text-align: right;
  font-family: 'Playfair Display',serif;
  color:#FACB2F;
  float:right;
}

#site-slogan{
  text-align: right;
  font-family: 'Playfair Display',serif;
  margin-top: 15px;
  color:white;
  float:right;
}

#header{
  background-color: #191919;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size:180%;
  margin-left:auto;
  margin-right:auto;
  background-color:#e0e0e0;
}

h2 {
  /*border: 3px solid coral;*/
  font-family: 'Playfair Display',serif;
  color: black;
  font-size:1.6em ;
  text-align: center;
}

.panel-footer{
  margin-top: 20px;
  background-color: #191919;
}

.panel-footer div{
  color: white;
}

p {
  padding: 20px;
}


#trailCanvas{
   width:500 px;
   height:500 px ;
   position:absolute;
}

#theCanvas{
   width:500 px;
   height:500 px ;
   position:relative;
}




.Fire{
  color: black;
  font-size: 30 px;
  background: lightgray;
  margin: 0 auto 0;
}

.Fire:active{
  color: black;
  background: red;

}

.customButton { /* style a link as a push-button */
display: inline-block;
width: 60px;
height: 30px;
line-height: 24px;
font-size: 1em;


text-align: center;
color: black;
background: -webkit-linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
text-decoration: none;
border: 1px solid gray;
border-radius: 5px;
-webkit-user-select: none;
-moz-user-select: -moz-none;
-ms-user-select: none;
user-select: none;
curs or: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.customButton:active {
background: -webkit-linear-gradient(#909090,#808080,#808080,#707070);
background: linear-gradient(#909090,#808080,#808080,#707070);
}

input[type="range"] {
width: 300px;
padding: 0px;
}
input[type="range"]::-ms-tooltip {
display: none;

}



/* MEDIA QUERY */
@media only screen and (max-width: 650px) {
  #site-name{
    font-size: 2em;
  }

  #site-slogan{
    font-size: 1.5em;
  }
}
