*{
  box-sizing: border-box;
}

#site-name{
  text-align: right;
  font-family: 'Playfair Display',serif;
  color:#FACB2F;
  font-size: 2.5em;
  font-weight:bold;
  float:right;
  padding-top: 15px;
  clear: both;
  text-shadow:1px 1px #555;
}

#site-slogan{
  text-align: right;
  font-family: 'Playfair Display',serif;
  font-size: 1.2em;
  color:white;
  font-weight:bold;
  float:right;
  clear: both;
}

#header{
    height: 150px;
    width: 100%;
    background-color: #191919;
    /* background:url('../files/nivelOlimpico-sm.png'); */
    background:linear-gradient(90deg, rgba(170,163,50,1) 0%, rgba(10,10,1,1) 25%, rgba(1,0,0,1) 76%);
    background-position: left;
    margin:0px;
    padding:0px;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size:120%;
  margin-left:auto;
  margin-right:auto;
  background-color:#e0e0e0;
}

h2 {
  font-family: 'Playfair Display',serif;
  color: black;
  font-size:1.5em;
  text-align: center;
  margin:30px;
}

.simScenario{
  position:absolute;
  width: 600px;
  padding:0px;
  opacity: 1;
  z-index: -1;
  box-shadow: 0px 0px 3px 3px rgba(150,150,150,25);
}

.canvas{
  width: 600px;
}

#scenario{
  z-index: -2;
}

#scenario-grid{
  z-index: -1;
}

#simCannon{
  position:absolute;
  left: 50px;
  top: 230px;
  z-index: 1;
}

#simTarget{
  position:absolute;
  left: 0px;
  top: 100px;
  z-index: 1;
}

#simulation{
    position: relative;
}

#thecanvas{
     position:absolute;
     z-index: 3;
}

#trailCanvas{
     position:absolute;
     z-index: 4;
}

.simParamSlider{
  border: 0px;
  margin: 0px;
  font-size:0.9em;
  text-align: center;
}

.simInput{
  margin-top: 5px;
  font-size: 0.7em;
}

img{
  border-radius: 4px;
}

#viscInput{
  height: 24px;
  width: 60px;
}

#trailColors{
  height: 24px;
}

input[type="range"] {
  width: 80%;
  padding: 0px;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

.customButton {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 24px;
  font-size: 1.2em;
  text-align: center;
  color: black;
  background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.customButton:active {
  background: linear-gradient(#909090,#808080,#808080,#707070);
}

.myButtom {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 24px;
  font-size: 1.2em;
  text-align: center;
  color: black;
  background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

#PauseButtom {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 24px;
  font-size: 1.2em;
  text-align: center;
  color: black;
  background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

#PauseButtom:active {
  background: linear-gradient(#909090,#808080,#808080,#707070);
}

#FireButtom{
  width: 150px;
  height: 40px;
  margin-top: 30px;
  font-size: 1.2em;
}

#FireButtom:hover{
  background: linear-gradient(green,darkgreen);
  color: white;
}

#FireButtom:active{
  background: linear-gradient(red,darkred);
  color: white;
}

.colapseButton {
  display: inline-block;
  background-color: #FACB2F;
  color:#191919;
  border: 0px;
  line-height: 24px;
  font-size: 1em;
  margin-top: 30px;
}

.colapseButton:hover {
  display: inline-block;
  background-color: #FACB2F;
  color:#191919;
  border: 0px;
  line-height: 24px;
  font-size: 1em;
  box-shadow: 0 0 2px #191919;
}

.colapseButton:active {
  display: inline-block;
  background-color: #FACB2F;
  color:#191919;
  box-shadow: 0 0 0px #191919;
}

.texto{
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0px;
}

.texto:nth-child(1){
  margin-top: 0px;
}

#fno1,#fno2, #estudoeficaz {
  height: 200px;
}


a {
     text-decoration: none;
     color:#191919;
}
a:hover {
     text-decoration: none;
     color:black;

}

.panel-footer{
  margin-top: 0px;
  height: 50px;
  background-color: #191919;
  font-size: 0.8em;
}

.panel-footer div{
  padding: 10px;
  color: white;
}

.footer-buttom{
  text-decoration: none;
  color: white;
  text-align: center;
}

.caption{
  font-size: 0.9em;
}

p {
  padding: 20px;
}

.no-padding {
    padding: 0 !important;
}

@media only screen and (max-width: 790px) and (min-width: 441px) {
  #site-name{
    font-size: 2em;
  }

  #site-slogan{
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 440px) {
  #site-name{
    font-size: 1.6em;
  }

  #site-slogan{
    font-size: 1.2em;
    margin-top: 5px;
  }

  #fno1,#fno2, #estudoeficaz {
    padding: 5px;
  }
}

@media (min-width: 760px){
  .visible-xs{
    display: none;
  }
}



.chronoBox {
  background-color: #333;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 10px 0;
}

.chronoBox span {
  background-color: rgba(26, 24, 24, 0.612);
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.slider-container {
  padding-top: 0px;
  margin-top: -50px;
}

img[src='./files/FotoVictor.jpg'] {
  margin-right: 10px;
}

.profile-image {
  width: 70%;
  height: auto;
  max-height: 300px;
  margin-bottom: 10px;
}

#scenario {
  transition: background-image 0.5s ease-in-out;
}
